<div class="file-list-item-content"
     [ngClass]="{selected : hovered, 'bg-info':item.isPublic, 'bg-success':!item.isPublic}"
     (mouseover)="hovered=true"
     (mouseleave)="hovered=false">
    <div class="name">
        <i class="fa pull-right"
           [ngClass]="{'fa-user': !item.isPublic,'fa-group': !item.isPublic&&(item.viewers||item.editors),'fa-globe': item.isPublic}"></i>
        <i class="fa fa-info-circle pull-right"
           (mouseover)="infoPopup=true"
           (mouseleave)="infoPopup=false"></i>
        <div class="infoPopup" [ngClass]="infoPopup?'':'hidden'">
            <span class="title">{{item.name}}</span>
            <span class="version">Version: {{ item.versions.length }}</span>
            <span class="isShareable">Shareable as link: {{item.isShareable}}</span>
            <span class="isPublic">Visibility: {{
                item.isPublic?'Public':(item.viewers||item.editors)?'Shared':'Private'}}
            </span>
            <span class="fileDate">Created: {{ item.created}}</span>
            <span class="fileDate">Last modification:{{ item.modified}}</span>
        </div>
        <i class="fa fa-file"></i>
        <span class="fileName"
              [routerLink]="['/viewer/'+item.id,{outlets:{'local-menu':[] }}]">{{item.name}}</span>
    </div>
    <div class="tags">

        <div class="actions">
            <i class="fa fa-download" title="Download in Freeplane format" (click)="exportFreeplane()"></i>
            <i class="fa fa-share" title="Share file" (click)="open('share',shareFileDialog)"></i>
            <i class="fa fa-edit" title="Rename file" (click)="open('rename',renameFileDialog)"></i>
            <i class="fa fa-trash" title="Delete file" (click)="open('delete',deleteFileDialog)"></i>
        </div>
    </div>
</div>