
h1 {
    padding: 0;
    margin: 10px 0;
}

.app-content-loading {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
}

.app-content-error {
    left: 5%;
    bottom: 55px;
    width: 90%;
    min-height: 5%;
    position: absolute;
}

.loading-spinner {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

[drag-to-dismiss] {
    transform: translate(0, 0); /* NOTE: this is required to prevent mobile webkit issues */
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

.fa-time:before {
    content: '\f017';
}

.loginDialog {
    text-align: center;
}

.notices-container {
    overflow-x: hidden;
}

.dismiss {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.dismitted {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.img-avatar {
    border-radius: 50%;
    height: 40px;
}
/*
    Override bootstrap styles
*/
.nav li a {
    padding:5px 10px;
}


.appear-down.roll-down {
    transition: 1s linear height, 0.3s linear opacity;
    height:300px;  
    opacity:1;  
}

.appear-down {
    transition: 2s linear height, .3s linear opacity;
    overflow:hidden;
    height:0px;
    opacity:0;  
}
