/*
    File manager styles
*/
.list-group-item-home {
    padding: 20px;
}

.file-list {
    display: inline-flex;
    flex-wrap: wrap;
}

.file-list-item {
    width: 250px;
    flex-grow: 1;
    border-right: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    margin-bottom: 3px !important;
    margin-right: 3px !important;
    padding: 0;
}

.infoPopup.hidden {
    display: block !important;
    opacity: 0;
    visibility: visible !important;
    transition: opacity 1s;
    z-index: -1;
}

.infoPopup {
    display: inline-block;
    position: absolute;
    background: beige;
    border: 1px solid black;
    font-size: 80%;
    top: 25pt;
    left: 10px;
    right: 10px;
    padding: 3px 10px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s;
}

.infoPopup .title {
    font-size: 120%;
    border-bottom: 1px solid;
}

.file-list-item {
    background-color: aliceblue;
}

.file-list-item-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.file-list-item .actions,
.file-list-item .tags .input {
    opacity: 0;
    transition: opacity 1s, height 1s;
}

tags-input .name {
    flex-grow: 1;
}

tags-input .tags {
    /*    position:relative;*/
    flex-grow: 1;
    display: block;
    bottom: 0px
}

.file-list-item .actions {
    position: relative;
    bottom: 20px;
    text-align: right;
    margin-bottom: -20px;
}

.file-list-item .tags.focused .input,
.file-list-item .selected .actions,
.file-list-item .selected .tags .input {
    opacity: 100;
    transition: opacity .5s;
}

.file-list-item .tags.focused .input,
.file-list-item .selected .tags .input {
    display: inline;
}

.tags .tags-display {
    display: inline-block;
}

.tags tags-input .tag-list,
.tags .tags-display .tag-list {
    display: block;
    padding: 1px 1px;
}

.tags tags-input .tag-item,
.tags .tags-display .tag-item {
    display: inline-block;
    padding: 1px 5px
}

.tags .tags-display .tag-item {
    color: #fff;
    background: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px;
}

.suggestion-list {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px 5px;
    display: block;
    list-style: none;
    position: absolute;
}

#uploads {
    display: inline-table;
}

#uploads .file {
    display: table-row;
}

#uploads .file .status,
#uploads .file .name,
#uploads .file .error {
    display: table-cell;
    padding: 3px 5px;
}

#uploads .file .status {
    width: 10%;
}

#uploads .file .status .progress {
    display: flex;
    margin-bottom: 0;
}

ngf-drop.drop-box {
    border: 2px dashed lightgray;
    width: 150px;
    display: inline-block;
    padding: 15px 5px;
    text-align: center;
}

input.scrollable-header {
    border-bottom: 3px solid #ccc;
}
