/*
    Viewer layout
*/
@media (max-width: 767px) {
    #viewerTable {
        display: block;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: absolute;
    }

    #viewerTable #nodePane, #viewerTable #detailPane {
        width: 100%;
        display: block;
    }

    #viewerTable #nodePane.detailOpen {
        display: none;
    }
}

@media (min-width: 768px) {
    #viewerTable {
        display: table;
        width: 100%;
        min-height: 100%;
    }

    #viewerTable #nodePane, #viewerTable #detailPane {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        min-height: 100%;
        position: relative;
    }

    #viewerTable #nodePane.panel, #viewerTable #detailPane.panel {
        margin-bottom: 0;
        border: 1px solid;
        position: absolute;
        min-height: 100%;
        min-width: 100%;
    }

    #viewerTable #nodePane {
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;
        height: 100%;
        width: 100%;
    }

    #viewerTable #nodePane.detailOpen {
        width: 50%;
    }

    #viewerTable #detailPane {
        position: absolute;
        top: 0;
        right: 0;
        overflow: auto;
        height: 100%;
    }
}

/*
    Viewer styles
*/
.indent {
    padding-left: 10px;
}

markdown {
    display: inline-block;
}

markdown.tab-content {
    border: 1px solid lightgray;
    padding: 0.5em 1em;
    height: 8em;
    overflow: auto;
    display: block;
}

.nodeList {
    padding: 5px 10px;
}

.nodeList .list-group-item-heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    flex-wrap: nowrap;
}

.nodeList .item {
    flex-grow: 100;
    flex-basis: 100px;
}

.nodeList .handle,
.nodeList .icons,
.nodeList .chevron {
    flex-grow: 0;
    flex-shrink: 0;
}

.nodeList .handle {
    padding-right:5px;
}

.nodeList .chevron {
}

.nodeList .icons {
}

.nodeList .icons .icon-block,
.nodeList .chevron .icon-block {
    display: flex;
}
.nodeList .chevron .icon-block {
    position: initial;
    bottom: 20px;
    right: 10px;
}

.nodeList .chevron span[name='editorIcons'] {
    display: none;
    font-size:200%;
}

.nodeList:hover .chevron span[name='editorIcons'] {
    display: flex;
    position: absolute;
    border-radius:5px;
    color:black;
    padding:2px;
    right: 40px;
    z-index: 20;
    font-size:100%;
}

.nodeList.active:hover .chevron span[name='editorIcons'] {
    opacity: 1.0;
    font-size:200%;
    transform: translateY(0px) translateX(0px);
    transition: font-size 2s 3s, transform 2s 3s, opacity 2s 3s;
}

.nodeList.active .chevron span[name='editorIcons'] {
    color:white;
    background-color: rgba(255,255,255,.1);    
    transition: background-color 1s, font-size 2s 3s, transform 2s 3s, opacity 2s 3s;
    opacity: .5;
    font-size:100%;
    transform: translateY(20px) translateX(32px);
}

.nodeList .icons img,
.nodeList .chevron img {
    min-width: 20px;
    min-height: 20px;    
    padding: 2px;
}

.nodeList .detail .rule {
    height: 5pt;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10pt;
    margin-left: 10pt;
}

.nodeList .detail markdown {
    display: block;
    background-color: ghostwhite;
    color: black;
    border: 1px solid black;
    padding: 5px;
    max-height: 300px;
    overflow: auto;
}

/* Detail styles */
#detail-icon .icon {
    display: inline-flex;
    padding-left: 20px;
    width: 70px;
    height: 60px;
}

.mw-detail-icon {
    width: 32px;
    padding: 5px;
    border: 1px solid gray;
}

#iconSelectList .table {

}

#iconSelectList .iconSelectCell {
    display: inline-flex;
    padding: 10px;
}

#iconSelectList .iconSelectIcon {
    width: 40px;
}

