<div ui-content-for="localMenu">
    <div class="list-group">
        <div class="list-group-item">
            <i class="fa fa-list"></i> Local menu
        </div>
        <div class="appear-down" ngClass='{"roll-down":!loading}'>
            <div class="list-group-item">
                <div class="">
                    <i class="fa fa-binoculars"></i> View type
                </div>
            </div>
            <div class="list-group-item">
                <div class="btn-group-justified">
                    <div class="btn btn-default" ngClass="{'btn-primary': getViewType()==='tree'}"
                         (click)="setViewType('tree')">
                        Tree
                    </div>
                    <div class="btn btn-default" ngClass="{'btn-primary': getViewType()==='task'}"
                         (click)="setViewType('task')">
                        Task
                    </div>
                    <div class="btn btn-default" ngClass="{'btn-primary': getViewType()==='mindmap'}"
                         (click)="setViewType('mindmap')">
                        Mindmap
                    </div>
                </div>
            </div>
            <div ui-yield-to="viewSubmenu"></div>
            <div class="list-group-item">
                <button class="btn btn-default" (click)="downloadFreeplane()">
                    <i class="fa fa-fw fa-download"></i>Download
                </button>
            </div>
            <div class="list-group-item" ng-if="editable">
                <button class="btn btn-default" (click)="parseTasks()">
                    <i class="fa fa-fw fa-tasks"></i>Parse tasks
                </button>
                <button class="btn btn-default" (click)="markProject(currentNode)" (hide)="isProject(currentNode)">
                    <i class="fa fa-fw fa-list" ng-if="currentNode"></i>Mark as project
                </button>
                <button class="btn btn-default" (click)="markTask(currentNode)" (hide)="isTask(currentNode)">
                    <i class="fa fa-fw fa-thumb-tack" ng-if="currentNode"></i>Mark as task
                </button>
                <button class="btn btn-default" (click)="markDone(currentNode,true)"
                        (hide)="!isTask(currentNode)||isDone(currentNode)">
                    <i class="fa fa-fw fa-check" ng-if="currentNode"></i>Mark as done
                </button>
                <button class="btn btn-default" (click)="markDone(currentNode,false)"
                        (hide)="!isTask(currentNode)||!isDone(currentNode)">
                    <i class="fa fa-fw fa-check" ng-if="currentNode"></i>Unmark as done
                </button>
            </div>
        </div>
    </div>
</div>

<div id="viewerTable">
    <div id="nodePane" ui-class="{'detailOpen': detailPanel}">
        <section ui-view="tree" ng-if="getViewType()=='tree'"></section>
        <section ui-view="task" ng-if="getViewType()=='task'"></section>
        <section ui-view="mindmap" ng-if="getViewType()=='mindmap'"></section>
    </div>
    <div id="detailPane" ui-state="detailPanel" ui-if="detailPanel">
        <section ui-view="detail"></section>
    </div>
</div>
