md-sidenav-container {
    margin: 0;
    min-width: 200px;
    height: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    position: inherit;
    flex-direction: column;
}

.navbar .pull-left {
    flex-grow: 0;
}

.navbar .pull-right {
    flex-grow: 1;
    flex-direction: row-reverse;
}