<div class="panel">
    <div class="panel-body"
         ng-swipe-left='Ui.turnOn("detailPanel")'
         ng-swipe-right='Ui.turnOff("detailPanel")'
         *ngIf="!loading">

        <div class="list-group list-group-item-danger">
            Unimplemented
        </div>
    </div>
    <div class="panel-body"
         ng-swipe-left='Ui.turnOn("detailPanel")'
         ng-swipe-right='Ui.turnOff("detailPanel")'
         *ngIf="loading">
        <i class="fa fa-2x fa-spinner fa-spin"></i> Loading file
    </div>
</div>