<div class="panel">
    <div class="panel-body">
        <div class="list-group">
            <tree-root #tree
                       [nodes]="mapModel"
                       [options]='treeOptions'
                       (onFocus)="onTreeEvent($event)"
            >
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <div class="list-group-item nodeList" (click)="node.mouseAction('click',$event)">
                        <div class="list-group-item-heading">
                            <div class="handle">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="icons">
                                <div class="icon-block">
                                <span *ngFor="let attr of node.data.icon">
                                    <img class="icon-block" src="assets/icons/{{attr.$['BUILTIN']}}.png"/>
                                </span>
                                    <span *ngIf="node.data.$['LINK']">
                                    <a title="{{node.data.$['LINK']}}"
                                       (click)="jumptoLink(node.data.$['LINK'])">
                                <img src="/images/{{node.data.$['LINK'][0]=='#' ? 'LinkLocal' : 'Link'}}.png">
                                    </a>
                                </span>
                                </div>
                            </div>
                            <div class="item">
                                <markdown
                                        [data]="node.data.nodeMarkdown||''"></markdown>
                            </div>
                            <div class="chevron">
                                <div class="icon-block">
                                    <span name="editorIcons">
                                        <i class="fa fa-fw fa-folder-o" tooltip="Add sibling"
                                           (click)="addNode(node.data.$parent)"></i>
                                        <i class="fa fa-fw fa-plus-circle" tooltip="Add child"
                                           (click)="addNode(node.data)"></i>
                                        <i class="fa fa-fw fa-trash" tooltip="Delete node"
                                           (click)="deleteNode(node.data)"></i>
                                    </span>
                                    <img *ngIf="node.data.attribute" src="/assets/images/AttributesView.png"
                                         (click)="openDetails(node.data,'properties')"/>
                                    <img *ngIf="node.data.noteMarkdown" src="/assets/images/knotes.png"
                                         (click)="openDetails(node.data,'notes')"/>
                                    <i class="fa"
                                       (ngClass)="{'fa-chevron-down': node.open, 'fa-chevron-right': !node.data.open}"
                                       (click)="nodeToggleOpen(node.data)" ng-if="node.data.node"></i>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item-text detail" *ngIf="node.data.detailMarkdown">
                            <i class="fa pull-left"
                               [ngClass]="{'fa-chevron-down':node.data.detailOpen, 'fa-chevron-right':!node.data.detailOpen}"
                               (click)="detailToggleOpen(node.data)"></i>
                            <div [ngClass]="{collapsed: !node.data.detailOpen}">
                                <markdown
                                        [data]="node.data.detailMarkdown"></markdown>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </tree-root>
        </div>
    </div>
</div>
<!--

-->