<nav>Test item</nav>
<div class="list-group">
    <div class="list-group-item">
        <i class="fa fa-list"></i> Local menu
    </div>
    <div class="appear-down" ngClass='{"roll-down":!loading}'>
        <div class="list-group-item">
            <div class="">
                <i class="fa fa-binoculars"></i> View type
            </div>
        </div>
        <div class="list-group-item">
            <div class="btn-group-justified">
                <div class="btn btn-default" ngClass="{'btn-primary': viewType==='tree'}"
                     (click)="setViewType('tree')">
                    Tree
                </div>
                <div class="btn btn-default" ngClass="{'btn-primary': viewType==='task'}"
                     (click)="setViewType('task')">
                    Task
                </div>
                <div class="btn btn-default" ngClass="{'btn-primary': viewType==='mindmap'}"
                     (click)="setViewType('mindmap')">
                    Mindmap
                </div>
            </div>
        </div>
        <div ui-yield-to="viewSubmenu"></div>
        <div class="list-group-item">
            <button class="btn btn-default" (click)="downloadFreeplane()">
                <i class="fa fa-fw fa-download"></i>Download
            </button>
        </div>
        <div class="list-group-item" *ngIf="editable">
            <button class="btn btn-default" (click)="parseTasks()">
                <i class="fa fa-fw fa-tasks"></i>Parse tasks
            </button>
            <button class="btn btn-default" (click)="markProject(currentNodePromise)" (hide)="isProject(currentNodePromise)">
                <i class="fa fa-fw fa-list" *ngIf="currentNodePromise"></i>Mark as project
            </button>
            <button class="btn btn-default" (click)="markTask(currentNodePromise)" (hide)="isTask(currentNodePromise)">
                <i class="fa fa-fw fa-thumb-tack" *ngIf="currentNodePromise"></i>Mark as task
            </button>
            <button class="btn btn-default" (click)="markDone(currentNodePromise,true)"
                    (hide)="!isTask(currentNodePromise)||isDone(currentNodePromise)">
                <i class="fa fa-fw fa-check" *ngIf="currentNodePromise"></i>Mark as done
            </button>
            <button class="btn btn-default" (click)="markDone(currentNodePromise,false)"
                    (hide)="!isTask(currentNodePromise)||!isDone(currentNodePromise)">
                <i class="fa fa-fw fa-check" *ngIf="currentNodePromise"></i>Unmark as done
            </button>
        </div>
    </div>

    <div class="list-group-item">
        <div class="">
            <i class="fa fa-sort"></i>Group by
        </div>
    </div>
    <div class="list-group-item">
        <div class="btn-group-justified">
            <div class="btn btn-default" ngClass="{'btn-primary': getTaskViewType()==='project'}"
                 (click)="setTaskViewType('project')">
                Project
            </div>
            <div class="btn btn-default" ngClass="{'btn-primary': getTaskViewType()==='responsible'}"
                 (click)="setTaskViewType('responsible')">
                Responsible
            </div>
            <div class="btn btn-default" ngClass="{'btn-primary': getTaskViewType()==='context'}"
                 (click)="setTaskViewType('context')">
                Context
            </div>
            <div class="btn btn-default" ngClass="{'btn-primary': getTaskViewType()==='timeline'}"
                 (click)="setTaskViewType('timeline')">
                Timeline
            </div>
        </div>
    </div>
</div>