<div class="panel mat-active">
    <div class="panel-body" *ngIf="showDetail&&viewerService.currentNode">
        <mat-list id="detailPaneContent">
            <mat-list-item>
                <mat-input-container mat-line *ngIf="editable">
                    <ng-template placeholder>
                        <i class='fa fa-fw fa-info'></i><span class="hidden-mat-down">Details</span>
                    </ng-template>
                    <textarea matInput placeholder="Node name"
                              id="nodeText" rows="5"
                              [(ngModel)]="viewerService.currentNode.nodeMarkdown"
                              (change)="onChange($event)"></textarea>
                </mat-input-container>
                <markdown mat-line [data]="viewerService.currentNode.$nodeMarkdown"
                          *ngIf="!editable"></markdown>
            </mat-list-item>
            <mat-list-item>
                <mat-input-container mat-line *ngIf="editable">
                    <textarea matInput placeholder="Details"
                              id="detailText" rows="5"
                              [(ngModel)]="viewerService.currentNode.detailMarkdown"
                              (change)="onChange($event)"></textarea>
                </mat-input-container>
                <markdown mat-line [data]="viewerService.currentNode.detailMarkdown" *ngIf="!editable"></markdown>
            </mat-list-item>
            <mat-list-item *ngIf="editable||viewerService.currentNode.noteMarkdown">
                <mat-input-container mat-line *ngIf="editable">
                    <textarea matInput placeholder="Notes"
                              id="noteText" rows="5"
                              [(ngModel)]="viewerService.currentNode.noteMarkdown"
                              (change)="onChange($event)"></textarea>
                </mat-input-container>
                <markdown mat-line [data]="viewerService.currentNode.noteMarkdown"
                          *ngIf="!editable"></markdown>
            </mat-list-item>
            <div mat-subheader>
                <i class='fa fa-stack fa-picture-o'></i><span class="hidden-mat-down">Icons</span>
            </div>
            <mat-list-item *ngIf="editable||currentNode.icon">
                <div mat-line class="panel">
                    <div id='detail-icon' class="panel-body ">
                        <div class="icon-block"
                             *ngFor="let attr of viewerService.currentNode.icon; let index = index; let first=first;let last=last"
                             (mouseover)="iconEditor=true"
                             (mouseleave)="iconEditor=false">
                            <div class="icon">
                                <img class=" mw-detail-icon" src="/assets/icons/{{attr.$['BUILTIN']}}.png"/>
                                <span *ngIf="editable">
                                <i class="fa fa-trash" ngClass="{hidden: !iconEditor}"
                                   (click)="deleteIcon(index)"></i>
                                <i class="fa fa-arrow-left" ngClass="{hidden: !iconEditor||first}"
                                   (click)="moveIcon(index,'left')"></i>
                                <i class="fa fa-arrow-right" ngClass="{hidden: !iconEditor||last}"
                                   (click)="moveIcon(index,'right')"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" *ngIf="editable">
                        <i class="fa fa-2x fa-plus-circle pull-right"></i>
                    </div>
                </div>
            </mat-list-item>
            <div mat-subheader>
                <i class='fa fa-fw fa-table'></i><span class="hidden-mat-down">Properties</span>
            </div>
            <mat-list-item *ngIf="editable||viewerService.currentNode.attribute">
                <div mat-line>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let attr of viewerService.currentNode.attribute">
                            <td><input [(ngModel)]="attr.$['NAME']"></td>
                            <td><input [(ngModel)]="attr.$['VALUE']"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer" *ngIf="editable">
                    <i class="fa fa-2x fa-plus-circle pull-right"></i>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<button id="detailFab" mat-fab (click)="toggleShowDetail()">
    <mat-icon>add</mat-icon>
</button>
