<div ui-content-for="title">
    <span>MindWeb - Files</span>
</div>
<div ui-content-for="localMenu">
</div>

<div class="scrollable" ui-state="searchBar">
    <div class="scrollable-content">
        <div class="section">
            <input
                    ng-if="Ui.active('searchBar')"
                    type="search"
                    class="form-control scrollable-header"
                    placeholder="Search.."/>

            <div class="panel-group"
                 ui-state='myAccordion'
                 ui-default='1'>
                <div class="panel panel-default">
                    <div class="panel-heading" ui-set="{'myAccordion': 1}">
                        <h4 class="panel-title">
                            Recent files
                        </h4>
                    </div>
                    <div ui-if="myAccordion == 1">
                        <div class="panel-body">
                            <div class="list-group file-list">
                                <div class="list-group-item file-list-item"
                                     ng-repeat="item in files | orderBy:'-modifieddate' | limitTo:10"
                                     ng-include="'file_item_renderer'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ui-set="{'myAccordion': 2}">
                        <h4 class="panel-title">
                            All files
                            <span ng-show="loadingFiles">
                              <i class="fa fa-spinner fa-spin"></i>
                            </span>
                            <span ng-show="!loadingFiles">
                              ({{files.length}})
                            </span>
                        </h4>
                    </div>
                    <div ui-if="myAccordion == 2">
                        <div class="panel-body">
                            <div class="list-group file-list">
                                <div class="list-group-item file-list-item"
                                     ng-repeat="item in files | orderBy:'name'"
                                     ng-include="'file_item_renderer'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ui-set="{'myAccordion': 3}">

                        <h4 class="panel-title">
                            Shared with me
                            <span ng-show="loadingSharedFiles">
                              <i class="fa fa-spinner fa-spin"></i>
                            </span>
                            <span ng-show="!loadingSharedFiles">
                              ({{sharedFiles.length}})
                            </span>

                        </h4>
                    </div>
                    <div ui-if="myAccordion == 3">
                        <div class="panel-body">
                            <div class="list-group file-list">
                                <div class="list-group-item file-list-item"
                                     ng-repeat="item in sharedFiles | orderBy:'name'"
                                     ng-include="'file_item_renderer'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-primary">
                        <h4 class="panel-title">
                            Actions
                        </h4>
                    </div>
                    <div>
                        <div class="panel-body">
                            <div class="col-sm-2">
                                <div class="btn btn-default" ng-click="openCreateModal()">
                                    <span class="fa fa-file">&nbsp;</span>Create new
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <ngf-drop
                                        ngf-drop=""
                                        ngf-select=""
                                        ng-model="uploadedFiles"
                                        ng-model-rejected="rejFiles"
                                        ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                                        class="drop-box"
                                        ngf-multiple="true"
                                        ngf-allow-dir="true"
                                        ngf-accept="'.mm'"
                                        ngf-drop-available="dropAvailable">
                                    <div ng-hide="dropAvailable">File Drop not available</div>
                                    <div ng-show="dropAvailable">
                                        Drop Files
                                    </div>
                                    <div><span class="fa fa-upload">&nbsp;</span>Upload files</div>
                                </ngf-drop>
                            </div>
                            <div id="uploads" class="col-sm-offset-1 col-sm-7">
                                <div class="file" ng-repeat="upload in uploads">
                                    <span class="status">
                                        <progressbar max="upload.max" value="upload.value"
                                                     type="{{upload.error?'danger':(upload.done?'success':'info')}}">
                                            <span style="color:black; white-space:nowrap;">{{upload.value}} / {{upload.max}}</span>
                                        </progressbar>
                                    </span>
                                    <span class="name">{{upload.name}}</span>
                                    <span class="error label-danger" ng-bind="upload.errorMsg"
                                          ng-if="upload.errorMsg"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
        <i class="fa fa-search"></i>
        <span ui-hide="searchBar">Show</span>
        <span ui-show="searchBar">Hide</span>
        Search Bar
    </a>
</div>

<script type="text/ng-template" id="file_item_renderer">
    <div class="file-list-item-content"
         ui-state="hovered"
         ng-class="{selected : hovered, 'bg-info':item.isPublic, 'bg-success':!item.isPublic}"
         ng-mouseover="hovered=true"
         ng-mouseleave="hovered=false">
        <div class="name" ng-click="fileOpen(item)" ui-state="infoPopup">
            <i class="fa pull-right"
               ng-class="{'fa-user': !item.isPublic,'fa-group': !item.isPublic&&(item.viewers||item.editors),'fa-circle': item.isPublic}"></i>
            <i class="fa fa-info-circle pull-right"
               ng-mouseover="infoPopup=true"
               ng-mouseleave="infoPopup=false"></i>

            <div class="infoPopup" ng-class="{hidden : !infoPopup}">
                <div class="title">{{item.name}}</div>
                <div class="version">Version: {{ item.versions.length }}</div>
                <div class="isPublic">Visibility: {{ item.isPublic?'Public':(item.viewers||item.editors)?'Shared':'Private'}}</div>
                <div class="fileDate">Created: {{ item.created}}</div>
                <div class="fileDate">Last modification:{{ item.modified}}
                </div>
            </div>
            <i class="fa fa-file"></i>

            <div class="fileName">{{ item.name }}</div>
        </div>
        <div class="tags">
            <tags-input ng-model="item.tags"
                        replace-spaces-with-dashes="false"
                        on-tag-added="tag(item,$tag)"
                        on-tag-removed="untag(item,$tag)">
                <auto-complete source="loadTags(item,$query)"></auto-complete>
            </tags-input>
            <div class="actions">
                <i class="fa fa-download" title="Download in Freeplane format" ng-click="downloadFreeplane(item)"></i>
                <i class="fa fa-share" title="Share file" ng-click="openShareModal(item)"></i>
                <i class="fa fa-edit" title="Rename file" ng-click="openRenameModal(item)"></i>
                <i class="fa fa-trash" title="Delete file" ng-click="openDeleteModal(item)"></i>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="file_create_modal.html">
    <div role="dialog">
        <div class="modal-header">
            <h4 class="modal-title">Create file</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="control-label col-sm-3">New file name</div>
                    <div class="control-label col-sm-8 ">
                        <input class="form-control disabled" ng-model="target.newName">
                    </div>
                    <div class="control-label col-sm-1">.mm</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div type="button" class="btn btn-primary" ng-click="ok()">Submit</div>
            <div type="button" class="btn" ng-click="cancel()">Cancel</div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="file_share_modal.html">
    <div role="dialog">
        <div class="modal-header">
            <h4 class="modal-title">share file</h4>
            <h5 class="modal-title">{{target.name}}</h5>
        </div>
        <div class="modal-body">
            <table class="table">
                <div class="col-sm-3">Public</div>
                <div class="col-sm-9">
                    <input type="checkbox" ng-model="target.newIsPublic"/>
                </div>

                <div class="col-sm-3">Viewers</div>
                <div class="col-sm-4">{{target.viewers?target.viewers:"Not shared"}}</div>
                <div class="col-sm-5">
                    <textarea class="" ng-model="target.newViewers"></textarea>
                </div>

                <div class="col-sm-3">Editors</div>
                <div class="col-sm-4">{{target.editors?target.editors:"Not shared"}}</div>
                <div class="col-sm-5">
                    <textarea class="" ng-model="target.newEditors"></textarea>
                </div>
            </table>
        </div>
        <div class="modal-footer">
            <div type="button" class="btn btn-primary" ng-click="ok()">Submit</div>
            <div type="button" class="btn" ng-click="cancel()">Cancel</div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="file_rename_modal.html">
    <div role="dialog">
        <div class="modal-header">
            <h4 class="modal-title">Rename file</h4>
            <h5 class="modal-title">{{target.name}}</h5>
        </div>
        <div class="modal-body">
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="control-label col-sm-3">New file name</div>
                    <div class="control-label col-sm-8 ">
                        <input class="form-control disabled" ng-model="target.newName">
                    </div>
                    <div class="control-label col-sm-1">.mm</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div type="button" class="btn btn-primary" ng-click="ok()">Submit</div>
            <div type="button" class="btn" ng-click="cancel()">Cancel</div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="file_delete_modal.html">
    <div role="dialog">
        <div class="modal-header">
            <h4 class="modal-title">Delete file</h4>
            <h5 class="modal-title">{{target.name}}</h5>
        </div>
        <div class="modal-body">
            <h4 class="text-danger">
                <i class="fa fa-2x fa-exclamation-circle"></i> Are you sure you want to permanently remove this file?
            </h4>

            <div class="text-danger">
                The file will be unshared and permanently removed from everyone. Proceed with caution!
            </div>
        </div>
        <div class="modal-footer">
            <div type="button" class="btn btn-primary" ng-click="ok()">Submit</div>
            <div type="button" class="btn" ng-click="cancel()">Cancel</div>
        </div>
    </div>
</script>

