main-app{
    position: absolute;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

mat-sidenav-container {
    margin: 0;
    min-width: 200px;
    position: fixed;
    height: 100%;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    /* position: inherit; */
    flex-direction: row;
}

.navbar .pull-left {
    flex-grow: 0;
}

.navbar .pull-right {
    flex-grow: 1;
    flex-direction: row-reverse;
}