h1 {
    padding: 0;
    margin: 10px 0;
}

.app-content-loading {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
}

.loading-spinner {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

[drag-to-dismiss] {
    transform: translate(0, 0); /* NOTE: this is required to prevent mobile webkit issues */
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

.notices-container {
    overflow-x: hidden;
}

.dismiss {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.dismitted {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.list-group-item-home {
    padding: 20px;
}

pre {
    text-align: left !important;
}

input.scrollable-header {
    border-bottom: 3px solid #ccc;
}

.fa-time:before {
    content: '\f017';
}

.file-group-item {
    display: inline-block;
    border-right: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    margin-bottom: 3px !important;
    margin-right: 3px !important;
}

.loginDialog {
    padding: 30px 20px;
    text-align: center;
}

.indent {
    padding-left: 10px;
}

@media (max-width: 479px) {
    #viewerTable {
        display: block;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: absolute;
    }

    #viewerTable #nodePane, #viewerTable #detailPane {
        width: 100%;
        display: block;
    }

    #viewerTable #nodePane.detailOpen {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    #viewerTable {
        display: block;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: absolute;
    }

    #viewerTable #nodePane, #viewerTable #detailPane {
        width: 100%;
        display: block;
    }

    #viewerTable #nodePane.panel, #viewerTable #detailPane.panel {
        margin-bottom: 0%;
    }
}

@media (min-width: 768px) {
    #viewerTable {
        display: table;
        width: 100%;
        min-height: 100%;
    }

    #viewerTable #nodePane, #viewerTable #detailPane {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        min-height: 100%;
        position: relative;
    }

    #viewerTable #nodePane.panel, #viewerTable #detailPane.panel {
        margin-bottom: 0;
        border: 1px solid;
        position: absolute;
        min-height: 100%;
        min-width: 100%;
    }

    #viewerTable #nodePane {
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;
        height: 100%;
        width: 100%;
    }

    #viewerTable #nodePane.detailOpen {
        width: 50%;
    }

    #viewerTable #detailPane {
        position: absolute;
        top: 0;
        right: 0;
        overflow: auto;
        height: 100%;
    }
}
.img-avatar {
    border-radius: 50%;
}

/* override clashes from bootstrap and mobile-angular-ui */
.navbar {
    position: absolute;
}