h1 {
    padding: 0;
    margin: 10px 0;
}

.app-content-loading {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
}

.loading-spinner {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

[drag-to-dismiss] {
    transform: translate(0, 0); /* NOTE: this is required to prevent mobile webkit issues */
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

.fa-time:before {
    content: '\f017';
}

.loginDialog {
    text-align: center;
}

.notices-container {
    overflow-x: hidden;
}

.dismiss {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.dismitted {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.img-avatar {
    border-radius: 50%;
    height: 40px;
}
/*
    Override bootstrap styles
*/
.nav li a {
    padding:5px 10px;
}
/*
    File manager styles
*/
.list-group-item-home {
    padding: 20px;
}

.file-list {
}

.file-list-item {
    width: 200px;
    height: 100px;
    display: inline-table;
    border-right: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    margin-bottom: 3px !important;
    margin-right: 3px !important;
}

.fileInfo.hidden{
    display:block !important;
    opacity: 0;
    visibility: visible !important;
    transition: opacity 1s;
    z-index:-1;
}
.fileInfo{
    display:block;
    position:absolute;
    background:beige;
    border:1px solid black;
    font-size:80%;
    top: 25pt;
    left:10px;
    right:10px;
    padding: 3px 10px;
    z-index:1;
    opacity: 1;
    transition: opacity 0.5s;
}

.fileInfo .title{
    font-size:120%;
    border-bottom:1px solid;
}

.file-list-item .actions {
    vertical-align: bottom;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#uploads {
    display: inline-table;
}

#uploads .file {
    display: table-row;
}

#uploads .file .status,
#uploads .file .name,
#uploads .file .error {
    display: table-cell;
    padding: 3px 5px;
}
#uploads .file .status {
    width: 10%;
}
#uploads .file .status .progress{
    display: flex;
    margin-bottom: 0;
}

ngf-drop.drop-box {
    border: 2px dashed lightgray;
    width:  150px;
    display: inline-block;
    padding: 15px 5px;
    text-align: center;
}

input.scrollable-header {
    border-bottom: 3px solid #ccc;
}

/*
    Viewer layout
*/
@media (max-width: 479px) {
    #viewerTable {
        display: block;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: absolute;
    }

    #viewerTable #nodePane, #viewerTable #detailPane {
        width: 100%;
        display: block;
    }

    #viewerTable #nodePane.detailOpen {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    #viewerTable {
        display: block;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: absolute;
    }

    #viewerTable #nodePane, #viewerTable #detailPane {
        width: 100%;
        display: block;
    }

    #viewerTable #nodePane.panel, #viewerTable #detailPane.panel {
        margin-bottom: 0%;
    }
}

@media (min-width: 768px) {
    #viewerTable {
        display: table;
        width: 100%;
        min-height: 100%;
    }

    #viewerTable #nodePane, #viewerTable #detailPane {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        min-height: 100%;
        position: relative;
    }

    #viewerTable #nodePane.panel, #viewerTable #detailPane.panel {
        margin-bottom: 0;
        border: 1px solid;
        position: absolute;
        min-height: 100%;
        min-width: 100%;
    }

    #viewerTable #nodePane {
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;
        height: 100%;
        width: 100%;
    }

    #viewerTable #nodePane.detailOpen {
        width: 50%;
    }

    #viewerTable #detailPane {
        position: absolute;
        top: 0;
        right: 0;
        overflow: auto;
        height: 100%;
    }
}

/*
    Viewer styles
*/
.indent {
    padding-left: 10px;
}

markdown {
    display: inline-block;
}
markdown.tab-content {
    border: 1px solid lightgray;
    padding: 0.5em 1em;
    height: 8em;
    overflow: auto;
    display: block;
}
.nodeList {
}
.nodeList .list-group-item-heading {
    display: table;
    width:100%;
    overflow: auto;
}
.nodeList .handle,
.nodeList .icons,
.nodeList .item,
.nodeList .chevron
{
    display: table-cell;
    vertical-align: top;
}

.nodeList .handle,
.nodeList .icons,
.nodeList .chevron {
    width: 0.1px;
}

.nodeList .handle {
    padding-right:8px;
}

.nodeList .icons .icon-block,
.nodeList .chevron .icon-block {
    display: flex;
}

.nodeList .chevron span[name='editorIcons'] {
    display: flex;
}

.nodeList .icons img,
.nodeList .chevron img {
    min-width:  20px;
    padding-right: 4px;
}


.nodeList .detail .rule {
    height: 5pt;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10pt;
    margin-left: 10pt;
}

.nodeList .detail markdown {
    display: block;
    background-color: ghostwhite;
    padding: 5px;
    max-height: 300px;
    overflow: auto;
}

/* Detail styles */
#detail-icon .icon {
    display: inline-flex;
    padding-left: 20px;
    width: 70px;
    height: 60px;
}

.mw-detail-icon {
    width: 32px;
    padding: 5px;
    border: 1px solid gray;
}
#iconSelectList .table {

}
#iconSelectList .iconSelectCell {
    display: inline-flex;
    padding: 10px;
}
#iconSelectList .iconSelectIcon {
    width: 40px;
}

/* override clashes from bootstrap and mobile-angular-ui */
.navbar {
    position: absolute;
}

.modal {
    display: block;
}