<div class="scrollable">
    <h1 class="scrollable-header app-name">MindWeb</h1>

    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/">
                <i class="fa fa-fw fa-2x fa-home"></i>Home
                <i class="fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" href="#public">
                <i class="fa fa-fw fa-2x fa-file" ></i>Public maps
                <i class="fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" href="#files" ng-hide="currentUser===undefined">
                <i class="fa fa-fw fa-2x fa-file"></i>Files
                <i class="fa fa-chevron-right pull-right"></i>
            </a>
            <div class="indent" ng-hide="currentUser===undefined || openFiles===undefined" ng-controller="fileController">
                <a class="list-group-item"  ng-repeat="item in openFiles" ng-click="fileOpen(item)">
                    <span>
                        <i class="fa fa-fw fa-2x fa-file"></i>{{item.name}}
                    </span>
                    <span class="pull-right">
                        <i class="fa fa-close " ng-click="fileClose(item)"></i>
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </div>
            <a class="list-group-item" href="#friends" ng-hide="currentUser===undefined">
                <i class="fa fa-fw fa-2x fa-users"></i>Friends
                <i class="fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" href="#user/options" ng-hide="currentUser===undefined">
                <i class="fa fa-fw fa-2x fa-cog"></i>Options
                <i class="fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" href="#about">
                <i class="fa fa-fw fa-2x fa-info-circle"></i>About
                <i class="fa fa-chevron-right pull-right"></i>
            </a>
            <a class="list-group-item" href="#user/logout" ng-hide="currentUser===undefined">
                <i class="fa fa-fw fa-2x fa-sign-out"></i>Logout
                <i class="fa fa-chevron-right pull-right"></i>
            </a>
            <div class="list-group-item" ui-turn-on='loginModal' ng-show="currentUser===undefined">
                <i class="fa fa-fw fa-2x fa-sign-in"></i>Login
                <i class="fa fa-chevron-right pull-right"></i>
            </div>
        </div>
    </div>
</div>
