<div class="panel panel-primary">
    <div class="panel-heading panel-title" ng-click="Ui.turnOff('detailPanel')"
         keyboard-shortcut="esc" keyboard-title="Close detail panel"
         ui-turn-off="detailPanel">
        Hide details <span class="pull-right fa fa-close"></span>
    </div>
    <div class="panel-body">
        <textarea id="contentID" class="tab-pane form-control" rows="5" ng-model="currentEditor.text"
                  ng-if="editable"></textarea>
        <markdown class="tab-pane tab-content" ng-model="currentEditor.text" ng-if="!editable"></markdown>

        <uib-tabset>
            <uib-tab active="selectedTab=='details'" ng-if="editable||currentEditor.detail">
                <tab-heading ng-click="selectTab('details')">
                    <i class='fa fa-fw fa-info'></i>Details
                </tab-heading>
                <textarea id="detailsID" class="tab-pane form-control" rows="5"
                          ng-if="editable"
                          ng-model="currentEditor.detail"></textarea>
                <markdown class="tab-pane tab-content" ng-model="currentEditor.detail" ng-if="!editable"></markdown>
            </uib-tab>
            <uib-tab active="selectedTab=='notes'" ng-if="editable||currentEditor.note">
                <tab-heading ng-click="selectTab('notes')">
                    Notes
                </tab-heading>
                <textarea id="notesID" class="tab-pane form-control" rows="5"
                          ng-if="editable"
                          ng-model="currentEditor.note"></textarea>
                <markdown class="tab-pane tab-content" ng-model="currentEditor.note" ng-if="!editable"></markdown>
            </uib-tab>
            <uib-tab active="selectedTab=='icons'" ng-if="editable||currentNode.icon">
                <tab-heading ng-click="selectTab('icons')">
                    <i class='fa fa-stack fa-picture-o'></i>Icons
                </tab-heading>
                <div class="panel">
                    <div id='detail-icon' class="panel-body ">
                        <div class="icon"
                             ng-repeat="attr in currentNode.icon" ng-mouseover="iconEditor=true"
                             ng-mouseleave="iconEditor=false">
                            <div ui-state="iconEditor">
                                <img class=" mw-detail-icon" ng-src="/images/icons/{{attr.$['BUILTIN']|escape}}.png"/>
                                <span ng-if="editable">
                                <i class="fa fa-trash" ng-class="{hidden: !iconEditor}"
                                   ng-click="deleteIcon($index)"></i>
                                <i class="fa fa-arrow-left" ng-class="{hidden: !iconEditor||$first}"
                                   ng-click="moveIcon($index,'left')"></i>
                                <i class="fa fa-arrow-right" ng-class="{hidden: !iconEditor||$last}"
                                   ng-click="moveIcon($index,'right')"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" ng-if="editable">
                        <i class="fa fa-2x fa-plus-circle pull-right" ui-turn-on="iconDialog"></i>
                    </div>
                </div>
            </uib-tab>
            <uib-tab active="selectedTab=='properties'" ng-if="editable||currentNode.attribute">
                <tab-heading ng-click="selectTab('properties')">
                    <i class='fa fa-fw fa-table'></i>Properties
                </tab-heading>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="attr in currentNode.attribute">
                        <td ng-bind="attr.$['NAME']"></td>
                        <td ng-bind="attr.$['VALUE']"></td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<div class="debug">
    <div class="list-item" ng-repeat="msg in msgStack track by $index">
        <pre>{{$index}} {{msg.event}} {{msg.parent}} {{msg.payload}}</pre>
    </div>
    <div class="btn" ng-click="performSave()">Save</div>
</div>
<div ui-content-for="modals">
    <div class="modal" ui-if="modalMarkdownDialog" ui-state='modalMarkdownDialog'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close"
                            ui-turn-off="modalMarkdownDialog">&times;</button>
                    <h4 class="modal-title">Markdown syntax</h4>
                </div>
                <div class="modal-body">
                    <div class="scrollable">
                        <div class="scrollable-content" ng-include="'/app/viewer/markdown.html'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" ui-if="iconDialog" ui-state='iconDialog'>
        <div class="modal-backdrop in" ui-turn-off="iconDialog"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" keyboard-shortcut="esc" keyboard-title="Close dialog"
                            ui-turn-off="iconDialog">&times;</button>
                    <h4 class="modal-title">Add icon</h4>
                </div>
                <div class="modal-body">
                    <div id='iconSelectList' class="table">
                        <div keyboard-selectable="list item"
                             select-next="right"
                             select-previous="left"
                             keyboard-prevent-default>
                            <div class="iconSelectCell" ng-repeat="item in iconList">
                                <img class="iconsSelectIcon"
                                     keyboard-shortcut="space"
                                     selection-shortcut
                                     keyboard-title="Add icon"
                                     ng-src="{{item.link}}" ng-click="addIcon(item.name)" ui-turn-off="iconDialog"/>
                                <span class="hidden"
                                      keyboard-shortcut="{{item.shortcut}}"
                                      shortcutIf="item.shortcut"
                                      keyboard-action="addIcon(item.name)"
                                      keyboard-title="{{item.xxxxdescription}}"
                                      ng-if="item.shortcut"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <keyboard-help></keyboard-help>
                </div>
            </div>
        </div>
    </div>
</div>