
<div class="panel panel-primary">
    <div class="panel-heading panel-title" ng-click="Ui.turnOff('detailPanel')">
        Hide details <span class="pull-right fa fa-close"></span>
    </div>
    <div class="panel-body">

        <tabset>
            <tab>
                <tab-heading>
                    <i class='fa fa-fw fa-book'></i>View
                </tab-heading>
                <markdown class="tab-content" ng-model="node.nodeMarkdown" extensions="github, prettify"></markdown>
            </tab>
            <tab>
                <tab-heading>
                    <i class='fa fa-fw fa-edit'></i>Edit
                </tab-heading>
                <textarea class="tab-pane form-control" rows="5" ng-model="node.nodeMarkdown" ></textarea>
            </tab>
        </tabset>

        <tabset>
            <tab>
                <tab-heading>
                    <i class='fa fa-fw fa-info'></i>Details
                </tab-heading>
                <tabset>
                    <tab>
                        <tab-heading>
                            <i class='fa fa-fw fa-book'></i>View
                        </tab-heading>
                        <markdown class="tab-content" ng-model="node.detailMarkdown" extensions="github, prettify"></markdown>
                    </tab>
                    <tab>
                        <tab-heading>
                            <i class='fa fa-fw fa-edit'></i>Edit
                        </tab-heading>
                        <textarea class="tab-pane form-control" rows="5" ng-model="node.detailMarkdown" ></textarea>
                    </tab>
                </tabset>
            </tab>
            <tab heading="Notes">
                <tabset>
                    <tab>
                        <tab-heading>
                            <i class='fa fa-fw fa-book'></i>View
                        </tab-heading>
                        <markdown class="tab-content" ng-model="node.noteMarkdown" extensions="github, prettify"></markdown>
                    </tab>
                    <tab>
                        <tab-heading>
                            <i class='fa fa-fw fa-edit'></i>Edit
                        </tab-heading>
                        <textarea class="tab-pane form-control" rows="5" ng-model="node.noteMarkdown" ></textarea>
                    </tab>
                </tabset>
            </tab>
            <tab>
                <tab-heading>
                    <i class='fa fa-stack fa-picture-o'></i>Icons
                </tab-heading>
                <div class="table">
                    <div class="row">
                        <div class="col-xs-2 text-center" ng-repeat="attr in node.nodes | filter : {name:'icon'}">
                            <img class=" mw-detail-icon" ng-src="/images/icons/{{attr.attributes.BUILTIN}}.png"/>
                        </div>
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <i class='fa fa-fw fa-table'></i>Properties
                </tab-heading>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="attr in node.nodes | filter : {name:'attribute'}">
                        <td ng-bind="attr.attributes.NAME"></td>
                        <td ng-bind="attr.attributes.VALUE"></td>
                    </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>

<!--- DEBUG --->
        {{node.attributes.LOCALIZED_STYLE_REF}}
        {{node.attributes.POSITION}}
        <div ng-repeat="cnode in node.keys">
            {{key}}:{{cnode}}
        </div>
        <div class="list-group">
            <div class="list-group-item">{{node.name}}</div>
            <div class="list-group-item">{{node.attributes}}</div>
            <div class="list-group" ng-repeat="cnode in node.nodes|filter :{name:'!node'}:{name:'!attribute'}|filter:{name:'!icon'}">
                <div ng-include="'debug-template'" onload="node=cnode"></div>
            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="debug-template">
    <div class="list-group-item">{{node.name}}</div>
    <div class="list-group-item">{{node.value}}</div>
    <div class="list-group-item">{{node.attributes}}</div>
    <div class="indent" ng-repeat="cnode in node.nodes|filter:{name:'!icon'}:{name:'!attribute'}">
        <div ng-include="'debug-template'" onload="node=cnode"></div>
    </div>
</script>
