<script type="text/ng-template"  id="tree_item_renderer">

    <div id='{{node.$["ID"]}}' class="list-group-item nodeList" ng-class="{active : currentNode===node}">
        <div class="list-group-item-heading" ng-init="displayicons=false" ng-mouseover="displayIcons=true" ng-mouseleave="displayIcons=false">
            <div ui-tree-handle class="handle">
                <i class="fa fa-bars"></i>
            </div>
            <div class="icons">
                <div class="icon-block">
                    <span ng-repeat="icon in node.icon">
                        <img ng-src="/images/icons/{{icon.$['BUILTIN']|escape}}.png" ng-click="openDetails(node,'icons')"/>
                    </span>
                </div>
            </div>
            <div class="item">
                <markdown ng-model="node.nodeMarkdown" extensions="github, prettify"
                          ng-click="openDetails(node,'details')"></markdown>
                <a ng-if="node.$['LINK']" title="{{node.$['LINK']}}" ng-click="jumptoLink(node.$['LINK'])">
                    <img ng-src="/images/{{node.$['LINK'][0]=='#' ? 'LinkLocal' : 'Link'}}.png">
                </a>
            </div>
            <div class="chevron">
                <div class="icon-block">
                    <i ng-if="displayIcons" class="fa fa-fw fa-plus-circle" ng-click="addNode(node)"></i>
                    <i ng-if="displayIcons" class="fa fa-fw fa-folder-o" ng-click="addSubNode(node)"></i>
                    <i ng-if="displayIcons" class="fa fa-fw fa-trash" ng-click="deleteNode(node)"></i>
                    <img ng-if="node.attribute" src="/images/AttributesView.png" ng-click="openDetails(node,'properties')"/>
                    <img ng-if="node.noteMarkdown" src="/images/knotes.png" ng-click="openDetails(node,'notes')"/>
                    <i class="fa" ng-class="nodeIcon(node)" ng-click="nodeToggleOpen(node)"></i>
                </div>
            </div>
        </div>
        <div class="list-group-item-text detail" ng-if="node.detailMarkdown">
            <i class="fa pull-left" ng-class="{'fa-chevron-down':node.detailOpen, 'fa-chevron-right':!node.detailOpen}" ng-click="node.detailOpen=!node.detailOpen"></i>
            <div class="rule" ng-if="!node.detailOpen"></div>
            <markdown ng-model="node.detailMarkdown" extensions="github, prettify" ng-if="node.detailOpen"
                      ng-click="openDetails(node,'details')"></markdown>
        </div>
    </div>
    <div class="indent" ui-tree-nodes="" ng-model="node" ng-class="{hidden: !node.open}">
        <div ng-repeat="node in node.node"
             ui-tree-node
             ng-include="'tree_item_renderer'"
             ng-init="setupParent(node,$modelValue,$index)">
        </div>
    </div>

</script>

<div class="panel">
    <div class="panel-body"
         ng-swipe-left='Ui.turnOn("detailPanel")'
         ng-swipe-right='Ui.turnOff("detailPanel")'>
        <keyboard-shortcut keyboard-shortcut="up" keyboard-title="Previous node" keyboard-action="selectNode('prev')" keyboard-prevent-default="true"/>
        <keyboard-shortcut keyboard-shortcut="down" keyboard-title="Next node" keyboard-action="selectNode('next')" keyboard-prevent-default="true"/>
        <keyboard-shortcut keyboard-shortcut="right" keyboard-title="Unfold node" keyboard-action="selectNode('unfold')" keyboard-prevent-default="true"/>
        <keyboard-shortcut keyboard-shortcut="left" keyboard-title="Fold node" keyboard-action="selectNode('fold')" keyboard-prevent-default="true"/>
        <keyboard-shortcut keyboard-shortcut="insert" keyboard-title="Add new subnode" keyboard-action="addSubNode()" keyboard-prevent-default="true"/>
        <keyboard-shortcut keyboard-shortcut="enter" keyboard-title="Add new node" keyboard-action="addNode()" keyboard-prevent-default="true"/>
        <div ui-tree class="list-group">
            <div id="tree-root" ui-tree-nodes="" ng-model="nodes.map">
                <div ng-repeat="node in nodes.map.node"
                     ui-tree-node
                     ng-include="'tree_item_renderer'"
                     ng-init="setupParent(node,null,$index)">
                </div>
            </div>
        </div>
    </div>
</div>