<div class="list-group-item">
    <div class="list-group-item-heading">
        <span ng-click="refreshDetail(node);Ui.turnOn('detailPanel')">{{node.text}}</span>
        <i class="fa fa fa-lg pull-right" ng-if='node.nodes' ng-class="nodeIcon(node)"
           ng-click="nodeToggleOpen(node)"></i>
    </div>
    <div class="list-group-item-text">{{node.content}}</div>
</div>

<div class="indent" ng-if="node.open">
    <div ng-repeat="node in node.nodes" ng-include="'/app/viewer/nodeItemRenderer.html'"></div>
</div>

