<div ui-content-for="title">
    <span>MindWeb - {{file.name}}</span>
</div>

<div ui-content-for="viewSubmenu">
    <div class="list-group-item">
        <div class="">
            <i class="fa fa-sort"></i>Group by
        </div>
    </div>
    <div class="list-group-item">
        <div class="btn-group-justified">
            <div class="btn btn-default" ng-class="{'btn-primary': getTaskViewType()==='project'}"
                 ng-click="setTaskViewType('project')">
                Project
            </div>
            <div class="btn btn-default" ng-class="{'btn-primary': getTaskViewType()==='responsible'}"
                 ng-click="setTaskViewType('responsible')">
                Responsible
            </div>
            <div class="btn btn-default" ng-class="{'btn-primary': getTaskViewType()==='context'}"
                 ng-click="setTaskViewType('context')">
                Context
            </div>
            <div class="btn btn-default" ng-class="{'btn-primary': getTaskViewType()==='timeline'}"
                 ng-click="setTaskViewType('timeline')">
                Timeline
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="task_item_renderer">
    <div id='{{node.node.$["ID"]}}' class="list-group-item nodeList" ng-class="{active : currentNode===node.node}"
         on-long-press="longPressNode(node)">
        <div class="list-group-item-heading">
            <div ui-tree-handle class="handle" ng-if="node.node.$parent">
                <i class="fa fa-bars"></i>
            </div>
            <div class="icons">
                <div class="icon-block">
                    <span ng-repeat="icon in node.node.icon">
                        <img ng-src="/images/icons/{{icon.$['BUILTIN']|escape}}.png"
                             on-short-press="openDetails(node.node,'icons')"/>
                    </span>
                </div>
            </div>
            <div class="item">
                <markdown ng-model="node.node.nodeMarkdown" extensions="github, prettify"
                          on-short-press="openDetails(node.node,'content')"></markdown>
                <a ng-if="node.$['LINK']" title="{{node.node.$['LINK']}}"
                   on-short-press="jumptoLink(node.node.$['LINK'])">
                    <img ng-src="/images/{{node.node.$['LINK'][0]=='#' ? 'LinkLocal' : 'Link'}}.png">
                </a>
            </div>
            <div class="chevron">
                <div class="icon-block">
                    <span name="editorIcons" ng-if="editable">
                        <i class="fa fa-fw fa-tasks" tooltip="Add subproject" ng-click="addProject(node)"></i>
                        <i class="fa fa-fw fa-plus-circle" tooltip="Add subtask" ng-click="addTask(node)"></i>
                        <i class="fa fa-fw fa-trash" tooltip="Delete node" ng-click="deleteNode(node.node)"></i>
                    </span>
                    <img ng-if="node.node.attribute" src="/images/AttributesView.png"
                         on-short-press="openDetails(node.node,'properties')"/>
                    <img ng-if="node.node.noteMarkdown" src="/images/knotes.png"
                         ng-click="openDetails(node.node,'notes')"/>
                    <i class="fa" ng-class="{'fa-chevron-down': node.node.open, 'fa-chevron-right': !node.node.open}"
                       on-short-press="nodeToggleOpen(node.node)" ng-if="node.node.node"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item-text detail" ng-if="node.node.detailMarkdown">
        <i class="fa pull-left"
           ng-class="{'fa-chevron-down':node.node.detailOpen, 'fa-chevron-right':!node.node.detailOpen}"
           ng-click="detailToggleOpen(node.node)"></i>

        <div class="rule" ng-if="!node.node.detailOpen"></div>
        <markdown ng-model="node.node.detailMarkdown" extensions="github, prettify" ng-if="node.node.detailOpen"
                  on-short-press="openDetails(node.node,'details')"></markdown>
    </div>
    </div>
    <div class="indent" ui-tree-nodes="" ng-model="projectList" ng-if="node.projects && node.node.open">
        <div ng-repeat="node in projectList|filter:isParentComparator(node)"
             ui-tree-node
             ng-include="'task_item_renderer'">
        </div>
    </div>
    <div class="indent" ui-tree-nodes="" ng-model="taskList" ng-if="node.nodes && node.node.open">
        <div ng-repeat="node in taskList|filter:isParentComparator(node)"
             ui-tree-node
             ng-include="'task_item_renderer'">
        </div>
    </div>
</script>

<div class="panel">
    <div class="panel-body"
         ng-swipe-left='Ui.turnOn("detailPanel")'
         ng-swipe-right='Ui.turnOff("detailPanel")'
         ng-if="!loading">
        <span keyboard-shortcut="up" keyboard-title="Previous node" keyboard-action="selectNode('prev')"
              keyboard-prevent-default="true"></span>
        <span keyboard-shortcut="down" keyboard-title="Next node" keyboard-action="selectNode('next')"
              keyboard-prevent-default="true"></span>
        <span keyboard-shortcut="right" keyboard-title="Unfold node" keyboard-action="selectNode('unfold')"
              keyboard-prevent-default="true"></span>
        <span keyboard-shortcut="left" keyboard-title="Fold node" keyboard-action="selectNode('fold')"
              keyboard-prevent-default="true"></span>
        <span keyboard-shortcut="ins" keyboard-title="Add new subnode" keyboard-action="addNode('current')"
              keyboard-prevent-default="true"></span>
        <span keyboard-shortcut="enter" keyboard-title="Add new node" keyboard-action="addNode('parent')"
              keyboard-prevent-default="true"></span>
        <span keyboard-shortcut="del" keyboard-title="Delete node" keyboard-action="deleteNode('current')"
              keyboard-prevent-default="true"></span>
        <span keyboard-shortcut="f2" keyboard-title="Edit content" keyboard-action="openDetails(currentNode,'content')"
              keyboard-prevent-default="true"></span>


        <div class="list-group" ng-if="getTaskViewType()!=='project'">
            <div class="list-group-item nodeList" ng-repeat="(key,value) in getGroupedTasks()" ng-init="open=false">
                <div class="list-group-item-heading">
                    <div class="item"><img ng-if="getTaskViewType()=='context' && hasConfigIcon('@'+key)"
                                           ng-src="/images/icons/{{hasConfigIcon('@'+key)}}.png">
                        <i class="fa fa-fw fa-user" ng-if="getTaskViewType()!='context' || !hasConfigIcon('@'+key)"></i>
                        <span>{{key}} ({{value.length}})</span>
                    </div>
                    <div class="chevron">
                        <div class="icon-block">
                            <i class="fa pull-right" ng-class="{'fa-chevron-down': open, 'fa-chevron-right': !open}"
                               ng-click="open=!open"></i>
                        </div>
                    </div>
                </div>
                <div class="indent" ng-if="open">
                    <div class="list-group-item nodeList" ng-repeat="node in value"
                         ng-class="{active : currentNode===node.node}">
                        <div class="list-group-item-heading">
                            <div class="handle" ng-if="node.node.$parent">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="icons">
                                <div class="icon-block">
                                    <span ng-repeat="icon in node.node.icon">
                                        <img ng-src="/images/icons/{{icon.$['BUILTIN']|escape}}.png"
                                             on-short-press="openDetails(node.node,'icons')"/>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <markdown ng-model="node.node.nodeMarkdown" extensions="github, prettify"
                                          on-short-press="openDetails(node.node,'content')"></markdown>
                                <a ng-if="node.$['LINK']" title="{{node.node.$['LINK']}}"
                                   on-short-press="jumptoLink(node.node.$['LINK'])">
                                    <img ng-src="/images/{{node.node.$['LINK'][0]=='#' ? 'LinkLocal' : 'Link'}}.png">
                                </a>
                            </div>
                            <div class="chevron">
                                <div class="icon-block">
                                    <span name="editorIcons" ng-if="editable">
                                        <i class="fa fa-fw fa-plus-circle" ng-click="addNode(node.node.$parent)"></i>
                                        <i class="fa fa-fw fa-folder-o" ng-click="addNode(node.node)"></i>
                                        <i class="fa fa-fw fa-trash" ng-click="deleteNode(node.node)"></i>
                                    </span>
                                    <img ng-if="node.node.attribute" src="/images/AttributesView.png"
                                         on-short-press="openDetails(node.node,'properties')"/>
                                    <img ng-if="node.node.noteMarkdown" src="/images/knotes.png"
                                         ng-click="openDetails(node.node,'notes')"/>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item-text detail" ng-if="node.node.detailMarkdown">
                            <i class="fa pull-left"
                               ng-class="{'fa-chevron-down':node.node.detailOpen, 'fa-chevron-right':!node.node.detailOpen}"
                               ng-click="detailToggleOpen(node.node)"></i>

                            <div class="rule" ng-if="!node.node.detailOpen"></div>
                            <markdown ng-model="node.node.detailMarkdown" extensions="github, prettify"
                                      ng-if="node.node.detailOpen"
                                      on-short-press="openDetails(node.node,'details')"></markdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ui-tree="treeOptions" class="list-group" ng-if="getTaskViewType()==='project'">
            <div id="tree-root" ui-tree-nodes="" ng-model="projectList">
                <div ng-repeat="node in projectList|filter:isParentComparator(null)"
                     ui-tree-node
                     ng-include="'task_item_renderer'"></div>
                <div ng-repeat="node in taskList|filter:isParentComparator(null)"
                     ui-tree-node
                     ng-include="'task_item_renderer'"></div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="panel-body"
     ng-swipe-left='Ui.turnOn("detailPanel")'
     ng-swipe-right='Ui.turnOff("detailPanel")'
     ng-if="loading">
    <i class="fa fa-2x fa-spinner fa-spin"></i> Loading file
</div>
</div>