<div ui-content-for="title">
    <span>MindWeb - Files</span>
</div>

<div class="scrollable" ui-state="searchBar">
    <div class="scrollable-content">
        <div class="section">
        </div>
    </div>
</div>

<script type="text/ng-template" id="friend_item_renderer">
    <div ui-state="infoPopup">
        <div (click)="fileOpen(item)">
            <i class="fa fa-info-circle pull-right"
               (mouseover)="friendPopup=true"
               (mouseleave)="friendPopup=false"></i>

            <div class="infoPopup" ngClass="{hidden : !infoPopup}">
                <div class="title">{{item.name}}</div>
                <div class="version">Version: {{ item.versions.length }}</div>
                <div class="fileDate">Created: {{ item.created | date:'medium'}}</div>
                <div class="fileDate">Last modification:{{ item.modified | date:'medium'}}
                </div>
            </div>
            <i class="fa fa-file"></i>

            <div class="fileName">{{ item.name }}</div>
        </div>
        <div class="tags">
            <tags-input ng-model="item.tags"
                        replace-spaces-with-dashes="false"
                        on-tag-added="tag(item,$tag)"
                        on-tag-removed="untag(item,$tag)">
                <auto-complete source="loadTags(item,$query)"></auto-complete>
            </tags-input>
        </div>
        <div class="actions" ngClass="{hidden : !infoPopup}">
            <i class="fa fa-download" title="Download in Freeplane format" (click)="downloadFreeplane(item)"></i>
            <i class="fa fa-share" title="Share file" (click)="openShareModal(item)"></i>
            <i class="fa fa-edit" title="Rename file" (click)="openRenameModal(item)"></i>
            <i class="fa fa-trash" title="Delete file" (click)="openDeleteModal(item)"></i>
        </div>
    </div>
</script>

