<div class="panel panel-default">

    <div class="scrollable">
        <div class="scrollable-header panel">
            <div class="panel-heading panel-primary">
                <h4> MindWeb application</h4>
            </div>
            <div class="panel-body panel-default">
                <p>
                    Mindweb is a document outliner application that enables you to create/view/share document
                    outlines<sup>*</sup> in the form of
                    mindmaps.
                </p>

                <p>
                    There are three ways of displaying the stored data. In the classical tree structure (Outline view),
                    as a mindmap (Mindmap view) and as a list of extracted tasks (Task list view)
                </p>

                <p>
                    It's originated from the Java based <a href="http://freeplane.sf.net">Freeplane</a> mindmap tool, do
                    it's
                    perfectly possible to import/export<sup>*</sup> mindmaps from the Freeplane tool.
                </p>

                <p>
                    It's also possible to connect the Freeplane directly to the service using the provided
                    add-on<sup>*</sup>
                </p>

            </div>
            <div class="panel-footer">
                <sup>*
                    Most of these features are only planned, and are not yet implemented. Please contact the author for
                    more
                    information.</sup>

                <div class="center-block"><i class="fa fa-stack fa-copyright"></i>Copyright, 2015, <a
                        href="mailto:gergely.papp@itworks.hu"> Papp Gergely</a>, All Rights
                    Reserved
                </div>
            </div>

        </div>
    </div>
</div>
