<div class="scrollable">
    <div class="scrollable-content">

        <div class="list-group text-center">
            <div class="list-group-item list-group-item-home">
                <h1>MindWeb</h1>
            </div>
            <div class="list-group-item list-group-item-home media">
                <div>
                    <i class="fa fa-gamepad feature-icon text-primary"></i>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Play around a little</h3>
                    <span>Open the sidebar and start testing features</span>
                </div>
            </div>
            <div class="list-group-item list-group-item-home media">
                <div>
                    <i class="fa fa-paw feature-icon text-primary"></i>
                </div>
                <div class="media-body">
                    <h3 class="media-heading"><span class="text-success">Available</span> <span class="text-warning">in-progress</span>
                        and <span class="text-danger">planned</span> features</h3>

                    <div class="list-group text-justify">
                        <div class="panel panel-primary">
                            <div class="panel-heading ">
                                <span><i class="fa fa-stack fa-list"></i>Authentication</span>
                            </div>
                            <div class="panel-body">
                                <div class="list-group-item-success">
                                    <span>Login using either Facebook, LinkedIn, Twitter, Google user.</span>
                                </div>
                                <div class="list-group-item-success">
                                    <span>Logout from application.</span>
                                </div>
                                <div class="list-group-item-warning">
                                    <span>Remove user and all owned items from the database</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading ">
                                <span><i class="fa fa-stack fa-list"></i>File management</span>
                            </div>
                            <div class="panel-body">
                                <div class="list-group-item-success">
                                    <span>Import any Freeplane mindmap.</span>
                                </div>
                                <div class="list-group-item-success">
                                    <span>Export to Freeplane mindmap.</span>
                                </div>
                                <div class="list-group-item-danger">
                                    <span>Export to Open Document Format.</span>
                                </div>
                                <div class="list-group-item-success">
                                    <span>Create/rename/delete documents</span>
                                </div>
                                <div class="list-group-item-danger">
                                    <span>Share documents with peers on web</span>
                                </div>
                                <div class="list-group-item-warning">
                                    <span>Share documents publicly</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading ">
                                <span><i class="fa fa-stack fa-list"></i>General editing</span>
                            </div>
                            <div class="panel-body">
                                <div class="list-group-item-warning">
                                    <span>Edit the content, details, notes, icons in outline view.</span>
                                </div>
                                <div class="list-group-item-danger">
                                    <span>Edit the node attributes in outline view.</span>
                                </div>
                                <div class="list-group-item-danger">
                                    <span>Parse node content to extract hidden tasks</span>
                                </div>
                                <div class="list-group-item-danger">
                                    <span>Cut & paste nodes</span>
                                </div>
                                <div class="list-group-item-success">
                                    <span>Create and remove nodes</span>
                                </div>
                                <div class="list-group-item-danger">
                                    <span>Drag & drop nodes</span>
                                </div>
                                <div class="list-group-item-success">
                                    <span>Auto-save changes</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading ">
                                <span><i class="fa fa-stack fa-list"></i>Outline view</span>
                            </div>
                            <div class="panel-body">
                                <div class="list-group-item-success">
                                    <span>View the contents of the mindmap in outline view</span>
                                </div>
                                <div class="list-group-item-success">
                                    <span>Navigate the document with the cursor keys</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading ">
                                <span><i class="fa fa-stack fa-list"></i>MindMap view</span>
                            </div>
                            <div class="panel-body">
                                <div class="list-group-item-danger">
                                    <span>Display the document as a mindmap</span>
                                </div>
                                <div class="list-group-item-danger">
                                    <span>Edit document nodes</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading ">
                                <span><i class="fa fa-stack fa-list"></i>Tasks view</span>
                            </div>
                            <div class="panel-body">
                                <div class="list-group-item-danger">
                                    <span>Display only the tasks and projects in the document</span>
                                </div>
                                <div class="list-group-item-danger">
                                    <span>Create new nodes using custom interface (not the standard node-editing
                                        UI)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>