<!-- Navbars -->
<div class="navbar navbar-app navbar-absolute-top mat-elevation-z0">
    <md-card-title-group class="navbar-brand navbar-brand-center ">
        MindWeb
    </md-card-title-group>
    <div class="btn-group pull-left">
        <div (click)="sidenav.toggle()" class="btn sidebar-toggle hidden-md hidden-lg" ng-animate="'slide'">
            <i class="fa fa-bars"></i> Menu
        </div>
    </div>
    <div class="btn-group pull-right">
        <div class="btn-group hidden-xs" *ngIf="currentUser!==undefined">
            <a routerLinkActive="options" class="btn btn-navbar">
                <img class="img-avatar" src="{{currentUser.avatarUrl}}"/>
                <span class="hidden-sm">{{currentUser.name}}</span></a>
            <div class="btn btn-navbar" (click)="logout()"><i class="fa fa-2x fa-fw fa-sign-out"></i>Logout
            </div>
        </div>
        <div class="btn-group" *ngIf="currentUser===undefined">
            <div class="btn btn-navbar" (click)="open(loginDialog)">
                <span><i class="fa fa-2x fa-fw fa-sign-in"></i>Login</span>
            </div>
        </div>
    </div>
</div>
<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="sidebarDisplay">
        <md-nav-list>
            <nav routerLink="/">
                <fa name="home" size="2" fw="true"></fa>
                Home
                <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
            </nav>
            <nav routerLink="/public">
                <fa name="globe" size="2" fw="true"></fa>
                Public maps
                <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
            </nav>
            <nav routerLink="/maps" *ngIf="currentUser!==undefined">
                <fa name="file" size="2" fw="true"></fa>
                Files
                <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
            </nav>
            <open-files></open-files>

            <nav routerLink="/friends" *ngIf="currentUser!==undefined">
                <fa name="users" size="2" fw="true"></fa>
                Friends
                <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
            </nav>
            <nav routerLink="/user/options" *ngIf="currentUser!==undefined">
                <fa name="cog" size="2" fw="true"></fa>
                Options
                <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
            </nav>
            <nav routerLink="/public/display">
                <fa name="binoculars" size="2" fw="true"></fa>
                Display Freeplane map
                <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
            </nav>
            <nav routerLink="/about">
                <fa name="info-circle" size="2" fw="true"></fa>
                About
                <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
            </nav>
            <nav (click)="logout()" *ngIf="currentUser!==undefined">
                <fa name="sign-out" size="2" fw="true"></fa>
                Logout
                <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
            </nav>
            <nav (click)="open(loginDialog)"
                 *ngIf="currentUser===undefined">
                <fa name="sign-in" size="2" fw="true"></fa>
                Login
                <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
            </nav>
        </md-nav-list>
    </md-sidenav>
    <div class="main-content">
        <!-- App Body -->
        <div class="app-body" ngClass="{loading: loading, error: error}">
            <div *ngIf="loading" class="app-content-loading">
                <i class="fa fa-spinner fa-spin loading-spinner"></i>
            </div>
            <div class="app-content">
                <section>
                    <router-outlet></router-outlet>
                </section>
            </div>
            <div *ngIf="infoMsg" class="alert alert-info app-content-info alert-dismissible">
                <i class="fa fa-2x fa-info"></i> {{infoMsg}}
                <button type="button" class="close" (click)="infoMsg=null">
                    <span>&times;</span>
                </button>
            </div>
            <div [ngStyle]="{opacity:errorMsg?1:0}" class="alert alert-danger app-content-error alert-dismissible">
                <i class="fa fa-2x fa-exclamation"></i> Error in application {{errorMsg}}
                <button type="button" class="close" (click)="errorMsg=null">
                    <span>&times;</span>
                </button>
            </div>
        </div>
    </div>
</md-sidenav-container>
<template ngbModalContainer></template>

<template #loginDialog class="modal fade" let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="btn-group btn-group-vertical">
            <a href="/auth/google" target="_self" (click)="$event.stopPropagation()"
               class="btn list-group-item">
                <i class="fa fa-2x fa-stack fa-google-plus"></i>Login with Google account
            </a>
            <a href="/auth/twitter" target="_self" (click)="$event.stopPropagation()"
               class="btn list-group-item">
                <i class="fa fa-2x fa-stack fa-twitter"></i>Login with Twitter account
            </a>
            <a href="/auth/linkedin" target="_self" (click)="$event.stopPropagation()"
               class="btn list-group-item">
                <i class="fa fa-2x fa-stack fa-linkedin"></i>Login with LinkedIn account
            </a>
            <a href="/auth/facebook" target="_self" (click)="$event.stopPropagation()"
               class="btn list-group-item">
                <i class="fa fa-2x fa-stack fa-facebook"></i>Login with Facebook account
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="d()" class="btn btn-default">Close</button>
    </div>
</template>