<!-- Navbars -->
<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        MindWeb
    </div>
    <div class="btn-group pull-left">
        <div (click)="sidenav.toggle()" class="btn sidebar-toggle hidden-md hidden-lg" ng-animate="'slide'">
            <i class="fa fa-bars"></i> Menu
        </div>
    </div>
    <div class="btn-group pull-right">
        <div class="btn-group hidden-xs" *ngIf="currentUser!==undefined">
            <a routerLinkActive="options" class="btn btn-navbar">
                <img class="img-avatar" src="{{currentUser.avatarUrl}}"/>
                <span class="hidden-sm">{{currentUser.name}}</span></a>
            <div class="btn btn-navbar" (click)="logout()"><i class="fa fa-2x fa-fw fa-sign-out"></i>Logout
            </div>
        </div>
        <div class="btn-group" *ngIf="currentUser===undefined">
            <div class="btn btn-navbar" (click)="open(loginDialog)">
                <span><i class="fa fa-2x fa-fw fa-sign-in"></i>Login</span>
            </div>
        </div>
    </div>
</div>
<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="sidebarDisplay">
        <div class="scrollable">
            <h1 class="scrollable-header app-name">MindWeb</h1>

            <div class="scrollable-content">
                <div>
                    <div class="list-group">
                        <a class="list-group-item" routerLink="/">
                            <fa name="home" size="2" fw="true"></fa>
                            Home
                            <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
                        </a>
                        <a class="list-group-item" routerLink="/public">
                            <fa name="globe" size="2" fw="true"></fa>
                            Public maps
                            <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
                        </a>
                        <a class="list-group-item" routerLink="/files" *ngIf="currentUser!==undefined">
                            <fa name="file" size="2" fw="true"></fa>
                            Files
                            <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
                        </a>

                        <div class="indent" *ngIf="(currentUser!==undefined && openFiles!==undefined)"
                             ng-controller="fileController">
                            <a class="list-group-item" *ngFor="let item of openFiles" onClick="fileOpen(item)">
                    <span>
                        <fa name="file" size="2" fw="true"></fa>
                        {{item.name}}
                    </span>
                                <span class="pull-right">
                        <i class="fa fa-close " (click)="fileClose(item)"></i>
                        <i class="fa fa-chevron-right"></i>
                    </span>
                            </a>
                        </div>
                        <a class="list-group-item" routerLink="/friends" *ngIf="currentUser!==undefined">
                            <fa name="users" size="2" fw="true"></fa>
                            Friends
                            <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
                        </a>
                        <a class="list-group-item" routerLink="/user/options" *ngIf="currentUser!==undefined">
                            <fa name="cog" size="2" fw="true"></fa>
                            Options
                            <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
                        </a>
                        <a class="list-group-item" routerLink="/public/display">
                            <fa name="binoculars" size="2" fw="true"></fa>
                            Display Freeplane map
                            <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
                        </a>
                        <a class="list-group-item" routerLink="/about">
                            <fa name="info-circle" size="2" fw="true"></fa>
                            About
                            <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
                        </a>
                        <a class="list-group-item" (click)="logout()" *ngIf="currentUser!==undefined">
                            <fa name="sign-out" size="2" fw="true"></fa>
                            Logout
                            <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
                        </a>
                        <div class="list-group-item" (click)="open(loginDialog)"
                             *ngIf="currentUser===undefined">
                            <fa name="sign-in" size="2" fw="true"></fa>
                            Login
                            <span class="pull-right"><fa name="chevron-right" pull="right"></fa></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-sidenav>
    <div class="main-content">
        <!-- App Body -->
        <div class="app-body" ngClass="{loading: loading, error: error}">
            <div *ngIf="loading" class="app-content-loading">
                <i class="fa fa-spinner fa-spin loading-spinner"></i>
            </div>
            <div class="app-content">
                <section>
                    <router-outlet></router-outlet>
                </section>
            </div>
            <div *ngIf="infoMsg" class="alert alert-info app-content-info alert-dismissible">
                <i class="fa fa-2x fa-info"></i> {{infoMsg}}
                <button type="button" class="close" (click)="infoMsg=null">
                    <span>&times;</span>
                </button>
            </div>
            <div *ngIf="errorMsg" class="alert alert-danger app-content-error alert-dismissible">
                <i class="fa fa-2x fa-exclamation"></i> Error in application {{errorMsg}}
                <button type="button" class="close" (click)="errorMsg=null">
                    <span>&times;</span>
                </button>
            </div>
        </div>
    </div>
</md-sidenav-container>
<template ngbModalContainer></template>

<template #loginDialog class="modal" let-c="close" let-d="dismiss">
    <div class="modal-backdrop">

        <div class="modal-dialog modal-content" role="dialog">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group btn-group-vertical">
                    <a href="/auth/google" target="_self" (click)="$event.stopPropagation()"
                       class="btn list-group-item">
                        <i class="fa fa-2x fa-stack fa-google-plus"></i>Login with Google account
                    </a>
                    <a href="/auth/twitter" target="_self" (click)="$event.stopPropagation()"
                       class="btn list-group-item">
                        <i class="fa fa-2x fa-stack fa-twitter"></i>Login with Twitter account
                    </a>
                    <a href="/auth/linkedin" target="_self" (click)="$event.stopPropagation()"
                       class="btn list-group-item">
                        <i class="fa fa-2x fa-stack fa-linkedin"></i>Login with LinkedIn account
                    </a>
                    <a href="/auth/facebook" target="_self" (click)="$event.stopPropagation()"
                       class="btn list-group-item">
                        <i class="fa fa-2x fa-stack fa-facebook"></i>Login with Facebook account
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="c()" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</template>