<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>MindWeb</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-site-verification" content="Q1dwM27Je8Ba4rLMgwH-YRTg-OmyD7iqg7XYFeJxAPE"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
    <% } %>
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/app.css">
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
      <%= htmlWebpackPlugin.files.webpackManifest %>
</head>
<body>
<main-app>
    <h1><i class="fa fa-2x fa-spinner fa-spin"></i> Loading...</h1>
</main-app>
<% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>

</body>
</html>
