<div class="scrollable">
    <div class="scrollable-content">

        <div class="list-group text-center">
            <div class="list-group-item list-group-item-home">
                <h1>MindWeb</h1>
            </div>
            <div class="list-group-item list-group-item-home media">
                <div>
                    <i class="fa fa-gamepad feature-icon text-primary"></i>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Play around a little</h3>
                    Open the sidebar and start testing features
                </div>
            </div>
            <pre>{{userAgent}}</pre>
        </div>

    </div>

</div>
</div>
